// Colors

$white:  #fff;
$gray: #212529;
$black:  #000;
$gold: #c3a343;

$red:     #dc3545;
$yellow:  #ffc107;
$green:   #28a745;
$cyan:    #17a2b8;

// Body
$body-bg:       $white;
$body-color:    $gray;

$breadcrumb-bg: transparent;

// Brands
$theme-colors: (
  primary: #a61e39,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: #f5f5f5,
  gray: $gray,
);

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$font-weight-base: 300;
$line-height-base: 1.6;

